.text{
    margin-left: 220px;
}
ul{
    top: -40px;
    display: flex;
    list-style-type: none;
    position: relative;
    margin-left: 26%;
}
li{
    margin-right: 40px;
}
.contactlist{
    color: black;
    text-decoration: none;
}
.contactlist:hover{
    color: black;
    text-decoration: none;
}
.add-contact{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: black;
    margin: 40px;
    border: 1px black solid;
    padding: 7px;
}

